@mixin user-select($args...){
  -webkit-touch-callout:$args;
  -webkit-user-select:$args;
  -moz-user-select:$args;
  -ms-user-select:$args;
  user-select:$args;
}

@mixin transition($args...) {
  -webkit-transition: str-replace(transition-tostr($args), "transform", "-webkit-transform");;
  -moz-transition: str-replace(transition-tostr($args), "transform", "-moz-transform");;
  -ms-transition: str-replace(transition-tostr($args), "transform", "-ms-transform");;
  -o-transition: str-replace(transition-tostr($args), "transform", "-o-transform");;
  transition: transition-tostr($args);
}

@mixin transform($args...){
	-webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
      	  transform: $args;
}

@mixin animation($args...){
  animation: $args;
  -webkit-animation: $args;
}

@mixin rodusfont($wt, $str){
  src: url('../fonts/rodussquare#{$wt}-webfont.eot');
  src: url('../fonts/rodussquare#{$wt}-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/rodussquare#{$wt}-webfont.woff2') format('woff2'),
       url('../fonts/rodussquare#{$wt}-webfont.woff') format('woff'),
       url('../fonts/rodussquare#{$wt}-webfont.ttf') format('truetype'),
       url('../fonts/rodussquare#{$wt}-webfont.svg#rodussquare#{$wt}#{$str}') format('svg');
  font-weight: normal;
  font-style: normal;
}