@mixin user-select($args...){
  -webkit-touch-callout:$args;
  -webkit-user-select:$args;
  -moz-user-select:$args;
  -ms-user-select:$args;
  user-select:$args;
}

@mixin transition($args...) {
  -webkit-transition: str-replace(transition-tostr($args), "transform", "-webkit-transform");;
  -moz-transition: str-replace(transition-tostr($args), "transform", "-moz-transform");;
  -ms-transition: str-replace(transition-tostr($args), "transform", "-ms-transform");;
  -o-transition: str-replace(transition-tostr($args), "transform", "-o-transform");;
  transition: transition-tostr($args);
}

@mixin transform($args...){
	-webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
      	  transform: $args;
}

@mixin animation($args...){
  animation: $args;
  -webkit-animation: $args;
}