h1, h2, h3, h4, h5, h6, p, span, div, article, header, footer {
    user-select: none;
    cursor: default;
}

html {
  text-align: center;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

// Background Styles
.backgrounds {
  position: fixed;
  width: 100vw;
  height: 100vh;

  > div {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0;
    transition: opacity 1.5s $quad-cubic-bezier
  }
  .lake {
    background: url(../images/lake.jpg);
    background-position: center 90%;
  }
  .cali {
    background: url(../images/cali.jpg);
    background-position: center 100%;
  }
  .barbed {
    background: url(../images/barbed.jpg);
    background-position: center 20%;
  }
  .shoreline {
    background: url(../images/shoreline.jpg);
    background-position: center 20%;
  }
}

/* Arrows Styles */
.arrowFlash{
  opacity: 1 !important;
}
  .arrowFlash::before{
    opacity: 1 !important;
  }
.arrow {
  width: 5vh;
  height: 5vh;
  position: fixed;
  z-index: 20;
  top: 50vh;
  left: 50vw;
  margin-top: -2.5vh;
  margin-left: -2.5vh;
  box-shadow: -5px -5px 3px -5px rgba(0, 0, 0, 0.5);
  opacity: 1;
  //transition: opacity 500ms ease-in-out);
  cursor: pointer;
  //@include filter-gradient(#ffffff, #00ffffff, horizontal);
  @include background-image(linear-gradient(left top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%));
  -webkit-backface-visibility: hidden;
}
.goUp {
  position: fixed;
  height: 15vh;
  width: 100vw;
  opacity: 0.65;
  transition: opacity 500ms ease-in-out;
  z-index: 11;
  cursor: pointer;

  .upArrow {
    top: 7vh;
    transform: rotateZ(45deg);
  }
}
  .goUp::before{
    content: "";
    position: fixed;
    left: 25vw;
    top: -80vh;
    width: 50vw;
    height: 80vh;
    box-shadow: 0 0 200px 100px $rgba-white-50;
    opacity: 0;
    transition: opacity 700ms $quad-cubic-bezier;
    border-radius: 250px;
  }
  .goUp:hover{
    opacity: 1;
  }
  .goUp:hover::before{
    opacity: 1;
  }
.goDown {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 15vh;
  width: 100vw;
  opacity: 0.65;
  transition: opacity 700ms $quad-cubic-bezier;
  z-index: 11;
  cursor: pointer;

  .downArrow {
    top: 93vh;
    transform: rotateZ(-135deg);
  }
}
  .goDown::before{
    content: "";
    position: fixed;
    top: 100vh;
    left: 25vw;
    width: 50vw;
    height: 80vh;
    box-shadow: 0 0 200px 100px $rgba-white-50;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    border-radius: 250px;
  }
  .goDown:hover{
    opacity: 1;
  }
  .goDown:hover::before{
    opacity: 1;
  }

/* Monitor Styles */
.monitoring {
  background-color: black;
  color: green;
  width: 250px;
  height: auto;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  cursor: default;
}

.removeOutline:focus{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
  -webkit-user-modify: read-write-plaintext-only;
  outline: 0px solid transparent;
}

.notransition {
  transition: none !important;
}

/* Pages Styles */
.pageSliderTransition {
  transition: transform 1.5s $quad-cubic-bezier;
}
.pageSlider {
  position: relative;
  height: 200vh;
  

  .page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;

    .overlay {
      width: 100vw;
      height: 100vh;
      background-color: $rgba-lightblue-75;
    }
    .container {
      width: 70vw;
      height: 60vh;
      position: absolute;
      left: 15vw;
      top: calc(70vh / 4);
      z-index: 1;
    }
  }
  .proj {
    .container {
      color: #fff;
      font-family: Rodus300;
      //transition: opacity 1.5s $quad-cubic-bezier, transform 500ms $quad-cubic-bezier);

      > div {
        position: relative;
        display: inline-block;
        height: 100%;
      }
      .infoContainer {
        width: calc(30% - 16px);
        float: left;
        border-right: 1px solid #fff;
        padding-right: 15px;
        
        .heading {
          position: relative;
          width: 100%;
          text-align: right;
          margin-top: -20px;
          margin-bottom: 2vh;

          .projTitle {
            position: relative;
            font-size: 3vw;
            //text-shadow: 0 3px 3px #000;
          }
          .projStatus {
            position: relative;
            display: block;
            margin-top: 1vh;
            font-size: 2vh;
            //text-shadow: 0 2px 1px #000;
          }
        }
        .langs {
          position: relative;
          width: 100%;
          padding: 1vh 1vw;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          font-size: 1vw;
        }
        .info {
          position: relative;
          margin-top: 3vh;
          text-align: justify;
          font-size: 1vw;
          background-color: rgba(0, 0, 0, 0.25);
          padding: 10px;
        }
        .visitBtn {
          position: absolute;
          width: calc(100% - 1px);
          bottom: 0;
          border: 1px solid #fff;
          padding: 1vh 0;
          font-size: 0.9vw;
          transition: background-color 500ms ease;
          cursor: pointer;
        }
          .visitBtn:hover {
            background-color: $rgba-black-50;
          }
      }
      .imageContainer {
        width: 70%;
        float: right;
        text-align: center;

        .preview {
          position: relative;
          display: inline-block;
          width: 80%;
          height: calc((70vw * 0.56) / 1.779);
          //left: 10%;
          margin-bottom: 5vh;

          .projImage {
            position: absolute;
            display: inline-block;
            width: 100%;
            height: auto;
            left: 0;
            opacity: 0;
            transition: opacity 1s ease;
          }
          .projImage.active {
            opacity: 1;
          }
        }
        .thumbnails {
          position: relative;
          display: inline-block;
          width: 90%;

          .thumbnail {
            position: relative;
            display: inline-block;
            width: 30%;
            height: auto;
            border: 1px solid #fff;
            opacity: 0.5;
            transition: opacity 500ms ease;
            cursor: pointer;
            margin: 0 2vw;
          }
            .thumbnail:hover {
              opacity: 1 !important;
            }
          .thumbnail.active {
            opacity: 1;
          } 
        }
          .thumbnails:hover > .thumbnail {
            opacity: 0.75;
          }
      }
    }
  }

  //------------------Home Page------------------
  .homePage {

    .container {
      height: 100vh;
      top: 0;

      .header {
        position: relative;
        width: 100%;
        height: 50vh;
      }
      .content {
        color: #FFF;
        font-family: Rodus300;
        position: relative;
        height: 35vh;
        cursor: default;
        z-index: 10;

        > span {
          display: block;
          font-size: 2vw;
          //text-shadow: 0 3px 7px #000;
          margin-bottom: 5vh;
          opacity: 0;
          transition: opacity 1.5s ease-in-out;
        }
        .name {
          font-size: 6vw;
        }
        .title {
          //text-shadow: 0 3px 3px #000;
          font-family: Rodus100;
        }
      }
    }
  }
  //==================================================

  //------------------WEFC Page------------------
  .wefc {
    top: 100vh;
  }
  //==================================================

  //------------------JGP Page------------------
  .jgp {
    top: 200vh;
  }
  //==================================================

  //------------------About Page------------------
  .aboutPage {
    top: 300vh;

    .container {
      top: 15vh !important;

      .content {
        position: relative;
        height: 50vh;
        font-family: Rodus100;
        color: #fff;
        transition: opacity 1.5s $quad-cubic-bezier;

        .column {
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: 30%;
          height: 95%;

          h2 {
            margin: 0;
            height: 10%;
          }
          .contents {
            position: relative;
            display: inline-block;
            width: 90%;
            height: calc(90% - 20px);
            background-color: rgba(0, 0, 0, 0.25);
            text-align: justify;
            font-size: 2vh;
            padding: 10px;
          }
        }
        .toolbox {

        }
        .about {
          width: calc(40% - 2px);
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;

          /*.profileContainer {
            height: 10%;
            text-align: center;

            .profile {
              position: relative;
              display: inline-block;
              width: 10vh;
              height: 10vh;
              top: -2vh;
              background-color: $rgba-white-50;
              transform: rotateZ(45deg));
              z-index: 1;

              .profilePic {

              }
            }
          } */
        }
        .links {

        }
      }
      .logo {
        top: 0;
        height: 30vh;
        /* width: 100%; */
        border-bottom: 0.1vw solid #fff;

        .tower {
          top: 0;
        }
      }
    }
  }
  //==================================================
}

/* Logo Styles */
.logo {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 100%;
  border-bottom: 0.2vw solid #fff;
  opacity: 1;
  transition: opacity 500ms $quad-cubic-bezier;

  .towerPre {
    transform: translateX(0) !important;
  }
  .tower {
    position: relative;
    display: inline-block;
    width: 8vh;
    height: 30vh;
    top: 15vh;
    margin: 0 2px;
    transition: transform 500ms $quad-cubic-bezier;

    .peakTop {
      position: relative;
      top: -4vh;
      border-left: 4vh solid transparent;
      border-right: 4vh solid transparent; 
      border-bottom: 4vh solid #fff;
    }
    .peakBottom {
      position: relative;
      top: -4vh;
      border-left: 4vh solid transparent;
      border-right: 4vh solid transparent;
      border-top: 4vh solid #fff;
    }
  }
  .tower.outside {
    height: 10vh;
    background-color: $rgba-white-25;
  }
  .tower.inside {
    height: 20vh;
    margin-bottom: -1px;
    background-color: $rgba-white-50;
  }
  .tower.middle {
    background-color: $rgba-white-75;
  }
}