// Beziers -------------------------
$quad-cubic-bezier: cubic-bezier(0.46, 0.03, 0.52, 0.96);
$cubic-cubic-bezier: cubic-bezier(0.65, 0.05, 0.36, 1);

// Colors --------------------------
$rgba-white-75: rgba(255, 255, 255, 0.75);
$rgba-white-50: rgba(255, 255, 255, 0.5);
$rgba-white-25: rgba(255, 255, 255, 0.25);
$rgba-black-75: rgba(0, 0, 0, 0.75);
$rgba-black-50: rgba(0, 0, 0, 0.5);
$rgba-black-25: rgba(0, 0, 0, 0.25);
$rgba-lightblue-75: rgba(0, 115, 179, 0.75);
$rgba-lightblue-50: rgba(0, 115, 179, 0.5);
$rgba-lightblue-25: rgba(0, 115, 179, 0.25);

// Font -----------------------------
$font-main: RodusCut;
$font-main-round: RodusRound;